<footer>
    <nav class="bottomnav">
    <a href="/" target="_self">&copy; UREC 2022.</a>
    <a href="/about" >About</a>
    <a href="/contact" >Contact</a>
    <a href="#" id="split" class="fa fa-facebook"></a>
    <a href="#" id="split" class="fa fa-twitter"></a>
    </nav>
</footer>
</body> 
</html>