<%- include('./partials/header.ejs')%>
<main>
    <h1>Welcome to UREC connections</h1>
    <% if (user) { %>
        <p>Hello, <%= user.firstName %> <%= user.lastName %>!</p>
        <!-- Other content for logged-in users -->
        <p>Read about club/intramural events. If you are looking to sign up for a club, this is the place for you.</p>
        <p>Click on connections to get started exploring today!</p>
    <% } else { %>
        <p>Read about club/intramural events. If you are looking to sign up for a club, this is the place for you.</p>
        <p>Click on connections to get started exploring today!</p>
    <% } %>
</main>
<%- include('./partials/footer.ejs')%>
  