<%- include('../partials/header.ejs')%>
        <main>
            <h1>About our connections</h1>
            <p>Our site is dedicated to serving you with a place to store your club and intramural information.</p>
            <p>Go back to the home page and begin exploring your connections or add new ones.</p>
        </main>
<%- include('../partials/footer.ejs')%>
  