<%- include('../partials/header.ejs')%>
        <main>
            <h1>Contact Us</h1>
            <p>You can reach us through the UREC main phone number : (704)-687-1385</p>
            <p>Or you can reach us through our email at: urec@uncc.edu </p>
        </main>
<%- include('../partials/footer.ejs')%>